.gridTable {
  /* border: 1px solid #000; */
  border-spacing: 0;
  border-collapse: separate;
  width:100vh
}

.gridTable thead tr th {
  font-size: 14px;

  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding: 5px 10px;
  color: #aaa;
  font-family: 'Starjedi';
}

.gridTable tbody tr td {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #333;
}

.gridTable tbody tr:hover td {
  background: black;
}

.gridActions button {
  margin: 5px 5px;
}

.gridTable-header-type {
  display: block;
  font-size: 0.65em;
}