.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
  }
  
  .label {
    display: flex;
    justify-content: space-between;
  }
  
  .input {
    margin-left: 10px;
  }
  
  .input__error {
    font-size: 0.75em;
    color: rgb(185, 8, 8);
  }
  